@font-face {
    font-family: outfit;
    src: url('..\assets\fonts\outfit\Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: young-serif;
    src: url('..\assets\fonts\young-serif\YoungSerif-Regular.ttf"')
}

* { /* '*' is universal selector used as a CSS resetter*/
    padding: 0 px;
    margin: 0 px;
}
